html, body {
  margin: 0;
  padding: 0;

  background: #202428;
  color: #f0f4f8;

  font-family: sans-serif;

  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
}

#content {
  padding: 2vh 2vw;

  height: fit-content;
  width: 100%;

  margin-left: 320px;
}

#content h1 {
  font-size: 2vw;
  font-weight: 700;
}

td, th {
  border-bottom: 1px solid #808488;
}

td {
  border-left: 1px solid #808488;
}

th {
  vertical-align: bottom;
  text-align: center;
}

table {
  border: 1px solid #808488;
  border-collapse: separate;
  border-spacing: 0;

  width: 100%;
}

tbody th {
  font-family: monospace;
  font-size: 14px;
  font-weight: 500;
  padding: 12px;

  vertical-align: middle;
  text-align: left;
  width: 25%;
}

th.sub {
  border-left-width: 8px;
}

#content > .stats {
  width: 100%;
}

.stats {
  display: flex;
  align-items: center;
  width: calc(100% - 12px);
  height: 22px;

  display: flex;
  background: #303438;

  margin: 0 6px;
}

.stats > div {
  height: 100%;
  padding-left: 4px;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 22px;

  overflow: hidden;
  white-space: nowrap;

  cursor: default;
}

.stat-v8 {
  background: #498af4;
}

.stat-sm {
  background: #ffd681;
  color: #000408;
}

.stat-jsc {
  background: #003550;
}

.stat-hermes {
  background: #2bb673;
}

.stat-chakra {
  background: #1d6acf;
}

.stat-libjs {
  background: #ef4946;
}

.stat-engine262 {
  background: #22b2da;
}

.stat-qjs {
  background: #c0c4c8;
  color: #000408;
}

.stat-xs {
  background: #08306e;
}

.stat-graaljs {
  background: #f29111;
  color: #000408;
}

.no-stat-v8 .stat-v8 { display: none }
.no-stat-sm .stat-sm { display: none }
.no-stat-jsc .stat-jsc { display: none }
.no-stat-chakra .stat-chakra { display: none }
.no-stat-graaljs .stat-graaljs { display: none }
.no-stat-hermes .stat-hermes { display: none }
.no-stat-libjs .stat-libjs { display: none }
.no-stat-engine262 .stat-engine262 { display: none }
.no-stat-qjs .stat-qjs { display: none }
.no-stat-xs .stat-xs { display: none }

.stats + table {
  margin-top: 20px;
}

.hidden {
  display: none;
}

.stats.vertical {
  flex-direction: column;
  height: unset;
  align-items: unset;
}

.stats.vertical > div {
  height: 22px;
  overflow: visible;
}

#sidebar {
  position: fixed;

  width: 320px;
  height: 100%;
  background: #101418;

  padding: 24px 12px;
}

#sidebar h1 {
  font-weight: 800;
  font-size: 2em;
  margin: 0;
}

#sidebar h2 {
  font-weight: 500;
  font-size: 0.9em;
  margin: 0;
  margin-top: 6px;
}

#sidebar footer {
  position: absolute;
  bottom: 24px;

  color: #a0a4a8;
  font-size: 0.8em;

  line-height: 1.6em;
}

#sidebar hr {
  border-color: #808488;
  margin: 1em 0;
}

#engines > div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#engines > div:not(:last-child) {
  margin-bottom: 4px;
}

#engines input {
  margin-right: 4px;
}

#engines label {
  font-weight: 600;
  font-size: 1em;
}

#engines label span {
  font-weight: 300;
  font-size: 0.8em;

  margin-left: 6px;
}

a {
  color: #b0b4b8;
  /* text-decoration: underline dashed #b0b4b8; */
}

#test262_rev {
  font-family: monospace;
  font-size: 1.2em;
}